.ant-tabs-nav-list {
    align-items: center; 
    justify-content: space-between;
    width: 100%;
  }

  .ant-tabs-tab {
    width: 20%;
    justify-content: center;
    font-size: medium;
    color: #DA291C;
    
  }
  .ant-tabs-tab:hover {
    width: 20%;
    justify-content: center;
    font-size: medium;
    color: #00B2A9;
    
  }
  