.swiper-button-prev::after, .swiper-button-next::after {
    color: #FFFFFF;
    opacity: 60%;
    font-weight: bolder;
    /* border-color: #2F2F2F;
    border-width: thick;
    border-radius: 5px;
    background-color: #2F2F2F; */
}
.swiper-pagination-bullet-active {
    background-color: #DA291C !important;
}